.whole {
    position: relative;
    display: block;
    width: 350px;
    height: 650px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    box-shadow: 0 0 10px #888888;

}

h1 {
   padding-left:25px;
   }

.information-border{
    border-width: 1px;
    display: block;
    height: 320px;
    width: 310px;
    margin: 20px;
    border-style: solid;
    border-color: gray;
    }

.information {
    position: absolute;
    width: 300px;
    padding-left: 10px;
}


img {
    display: block;
    width: 90%;
    width-left:90%;
    margin-left: auto;
    margin-right: auto
    }

ul {
    list-style:none;
    }

span {
   font-weight: bold;
}



/*
Project Overview
Great job on finishing the problem set! Are you starting to feel like a web developer yet? You should!
Before you move on, I have one more challenge. I want you to use what you've learned up to this point to complete the following project. Simply titled, "Animal Trading Cards", this project combines the skills you mastered in the problem set and asks you to re-create a webpage from a design prototype.
This is a common workflow for front-end web developers. Typically, you'll be provided with a design prototype that needs to be translated to an actual,
functional website. In most cases, designers only provide you with the design prototype.
However, for this project, I've provided you with the design prototype and the HTML.
The design prototype used in this project is inspired by trading cards and features
a fish you might recognize from a popular animated film. You’ll be creating the card and then swapping out the fish with an animal of your choice.
Project Instructions
    Download and unzip fend-animal-trading-cards-master.zip from the downloadables section. Inside, you'll find card.html,
    styles.css, clownfish.jpg, and the design-prototype.pdf.
    Next, add the proper CSS to styles.css to recreate the design prototype.
    You’ll need to modify card.html to include attributes and use selectors to specify the elements you want to style.
    Also, make sure to link to your stylesheet in card.html or else your CSS will not be applied to your webpage.
    The CSS should apply these styles to match the design prototype:
        italicized text for the animal's interesting fact
        italicized text for the animal's list items
        bolded labels for the animal's list items (e.g. 'Habitat')
        no dots for the animal's list items
        border around the animal's name, image, and information
        border around the animal's information
        spacing between the animal's name, image, and information (you will need to use the property padding)
    When you're done matching your webpage to the design prototype, swap in an image and information for your favorite animal.
    For the image, you will want use an image with a width of 300 pixels. If your image is larger,
    you can set the image's width to 300 pixels in your CSS, but be aware that your image might end up being squished or distorted.
    Later, we’ll talk about how you can fix this problem using responsive images. Also, don't forget to change the image's
    alt attribute to the name of your animal. So, alt="clownfish" should be replaced with alt="name-of-your-animal".
*/


